<header>
    <img src="../../../../../assets/img/eu.jpg" alt="foto do luis"
    width="130px"
    height="130px"
    loading="eager"
    >

    <h1>Luis Gabriel Bernardi</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Javascript | Angular | NodeJs | TypeScript | SQL | React</p>
        <p>Brasilia de minas, Minas Gerais, Brasil</p>
        <p>Sou um programador Fullstack que atua tanto no back-end como no front-end e que ama codar!
            Atuo nesta área a mais de 2 anos.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="../../../../../assets/pdf/Curriculo FullStack.pdf" target="_blank" class="btn btn-primary">Download do Currículo</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/luis-gabriel-bernardi/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="../../../../../assets/icons/whatsapp.svg" 
                     alt="whatsApp icone"
                     height="24px"
                     width="22px"
                >
                <figcaption>
                    <a href="https://api.whatsApp.com/send?phone=55038998186801&text=Ol%C3%A1%20Luis,%20Vamos%20Conversar%20sobre%20job!" target="_blank">
                        <strong>Envie uma menssagem para:</strong>
                        <p>whatsApp: (38) 99818-6801</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="../../../../../assets/icons/mail.svg" 
                     alt="e-mail icone"
                     height="24px"
                     width="22px"
                >
                <figcaption>
                    <a href="mailto:luis2014gbp@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>luis2014gbp&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>

        </section>
    </div>
</aside>